.home-page {
    &__hero {
        &__title {
            transform: unset;
            h1 {
                transform: unset;
                color: #006d29;
            }
        }
    }
    button.button {
        transform: unset;
        background-color: #129d54;
        span {
            transform: unset;
        }
    }
    button.button:hover {
        background-color: #006d29;
    }
}