@import "../../../globalStyles/scss/variables.scss";

.products-featured {
  padding: 2rem 0 4rem;

  h3{
    margin-bottom: 1rem;
    font-size: $h3-font-size;
    color: $gray-dark;
  }

  .products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;

    @media screen and (max-width: $medium-screen) {
      grid-template-columns: 1fr 1fr;
      grid-gap: 1.5rem;
    }
    @media screen and (max-width: $small-screen) {
      grid-template-columns: 1fr;
      grid-gap: 1rem;
    }
  }
}
