@import "../../../globalStyles/scss/variables.scss";

.product-list-item {
  text-align: center;

  &__title {
    text-transform: $product-item-title-text-transform;
    font-weight: $product-item-title-font-weight;
    margin-top: $spacer;
    text-align: left;
    padding: 0 1rem;

    &__price{
      float: right;
      font-weight: $product-item-price-font-weight;
    }
  }

  &__undiscounted_price {
    text-decoration: line-through;
    color: $gray;
    font-size: $small-font-size;
    font-weight: regular;
  }

  &__category {
    color: $product-item-category-color;
    text-align: left;
    padding: 0 1rem;
  }

  &__image {
    display: flex;
    justify-content: center;
    background-color: $turquoise-light;
    border-radius: 10px;
    box-shadow: 0 25px 20px -21px $gray;

    img {
      object-fit: contain;
      max-width: 100%;
    }

    @media (max-width: $small-screen) {
      height: 210px;
    }
  }
}
