@import "../../../globalStyles/scss/variables.scss";

header{
  position: fixed;
  width: 100%;
  z-index: 1;
}
header.scroll-down{
  background-color: $white;
  box-shadow: 0px 0px 9px $base-font-color;
  .main-menu{
    &__item{
      svg path{
        fill: $base-font-color;
      }
      a{
        color: $base-font-color;
      }
      a:hover{
        color: $turquoise-dark;
      }
    }
  }
}

.header-with-dropdown {
  z-index: 3;
}

.main-menu {
  align-items: center;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  height: 3.55rem;
  position: relative;
  max-width: $container-width;
  margin: 10px auto;
  &__center {
    flex-grow: 1;
    @media (max-width: $medium-screen) {
      flex-grow: 0;
      order: 1;
    }
    ul {
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: right;
      position: relative;
    }
  }

  &__right {
    @media (max-width: $medium-screen) {
      flex-grow: 1;
    }
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  &__left {
    align-self: center;
    
    @media (max-width: $medium-screen) {
      padding-left: 10px;
    }
    svg {
      width: 4rem;

      @media (min-width: $small-screen) {
        width: 6rem;
      }
    }
  }

  &__item {
    font-weight: $bold-font-weight;
    height: 100%;
    text-transform: uppercase;

    *{
      fill: $white; 
    }

    a {
      text-decoration: none;
      color: $white;
      position: relative;
      transition: 0.3s;
      margin-left: 10px;
      
      &:hover {
        color: $turquoise;
      }
    }
  }

  &__hamburger {
    cursor: pointer;
    padding: $spacer;

    &--hover {
      display: none;
    }

    &:hover {
      .main-menu__hamburger--icon {
        display: none;
      }

      .main-menu__hamburger--hover {
        display: block;
      }
    }

    svg {
      vertical-align: bottom;
    }
  }

  &__item,
  &__hamburger {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__icon {
    padding: 0 $spacer;
    cursor: pointer;

    svg * {
      transition: 0.3s;
    }

    &:hover {
      svg * {
        fill: $turquoise;
      }
    }

    svg {
      vertical-align: bottom;
    }
  }

  &__cart {
    position: relative;

    &__quantity {
      position: absolute;
      top: -0.3rem;
      right: 0.6rem;
      background-color: $blue;
      border-radius: 1rem;
      padding: 0 0.3rem;
      min-width: 1rem;
      height: 1rem;
      color: $white;
      font-size: $small-font-size;
      text-align: center;
      line-height: 1rem;
      transition: 0.3s;
    }
  }

  &__user {
    &--active * {
      fill: $turquoise;
      fill-rule: inherit;
    }
  }

  &__dropdown {
    text-transform: uppercase;
    font-weight: $bold-font-weight;

    li {
      cursor: pointer;
      margin: 0 auto;

      &:hover {
        color: $gray;
      }

      &:not(:last-of-type) {
        border-bottom: 1px solid $gray-light;
      }
    }
  }

  &__offline {
    line-height: 24px;
    padding: $spacer;

    span {
      text-transform: uppercase;
      font-weight: $bold-font-weight;
      vertical-align: bottom;
    }
  }

  &__search {
    padding: $spacer;
    cursor: pointer;
    line-height: 24px;
    transition: 0.3s;

    svg * {
      transition: 0.3s;
    }

    &:hover {
      color: $turquoise;
      svg * {
        fill: $turquoise;
      }
    }

    span {
      text-transform: uppercase;
      font-weight: $bold-font-weight;
      margin-right: $spacer;
    }

    div {
      display: inline-block;
    }

    svg {
      vertical-align: bottom;
    }
  }

  &__nav-dropdown {
    padding: 0 1.5rem;

    & > li:first-child {
      text-align: center;
      display: flex;
      align-items: center;
    }

    &__body {
      background: $white;
      border-top-color: $gray-light;
      border-top-style: solid;
      border-top-width: 1px;
      display: none;
      left: 0;
      padding: 1rem;
      position: absolute;
      top: 100%;
      z-index: 3;
      border-radius: 6px;

      &--visible {
        display: block;
      }

      > ul{
        flex-direction: column;
      }

      li *,
      ul * {
        display: block !important;
      }

      > ul > li {
        align-self: flex-start;
        position: relative;
        min-width: 168px;

        // 2nd level name
        > a {
          font-size: $base-font-size;
          position: relative;
          text-transform: capitalize;
          padding: 5px 0;
          color: $base-font-color;
        }
        > ul > li:first-child {
          position: relative;

          &:before {
            background-color: $turquoise-light;
            content: "";
            height: 1px;
            left: 0;
            position: absolute;
            top: -3px;
            width: 100%;
          }
        }

        ul {
          // 3rd+ level names
          a {
            font-size: $small-font-size;
            font-weight: normal;
            padding: 6px 0;
            text-transform: capitalize;
          }

          li > ul {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
